* {
    border:        none;
    border-radius: 0;
    font-family:   JetbrainsMono;
    font-size:     17px;
    box-shadow:    none;
    text-shadow:   2px 2px black;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}

#workspaces {
    border-radius: 90px;
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button {
    border-radius: 90px;
    padding: 0px 7.5px 0px 7.5px;
    text-shadow: 0px 2px 4px black;
    padding: 0 5px;
    color: white;
    font-family: JetbrainsMono;
    font-size: 17px;
}

#workspaces button.active {
    background: rgba(90, 90, 90, 0.3);
}

#workspaces button:hover {
    background: rgba(200, 200, 200, 0.6);
}

